# Настройки базы данных DigitalOcean
POSTGRES_HOST=db-postgresql-ams3-53605-do-user-17871666-0.k.db.ondigitalocean.com
POSTGRES_PORT=25060
POSTGRES_DB=defaultdb
POSTGRES_USER=doadmin
POSTGRES_PASSWORD=AVNS_dCeVuxoUFrDYgX6_zbX
POSTGRES_SSLMODE=require

# URL базы данных (без sslmode - SSL настраивается отдельно)
DATABASE_URL=postgresql://doadmin:AVNS_dCeVuxoUFrDYgX6_zbX@db-postgresql-ams3-53605-do-user-17871666-0.k.db.ondigitalocean.com:25060/defaultdb

# Настройки приложения
APP_TITLE=Casino Project
APP_NAME=casino
ENV=local
DEBUG=true

# Настройки мониторинга
SENTRY_DSN=
PROMETHEUS_METRICS_KEY=secret 